# Dependências
node_modules/
client/node_modules/
api/node_modules/

# Banco de dados
*.db

# Vercel
.vercel

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
client/dist/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
.cursor/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

